@charset "utf-8";

@import "compass";
@import "normalize";
@import "zoom";
@import "awesomplete";

@function calculate-rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}
@mixin fsize($size) {
  font-size: $size; //Fallback in px
  font-size: calculate-rem($size);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {text-decoration: underline;}
}

blockquote {
  padding-left: 1em;
  border-left: 2px solid #e6e6e6;
  margin: 0;
}

.sr-only {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
  font-size: 12px;

  &:active,
  &:focus {
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

.app {display: table;}

.aside {
  display: table-cell;
  width: 178px;
  padding: 1em;
  vertical-align: top;
}

.blog {
  &__title {
    @include fsize(26px);
    margin: 0;

    > a {
      padding-bottom: 1rem;

      &:hover {text-decoration: none;}
    }
  }
  &__desc {
    @include fsize(12px);
    margin: 0;
  }
}

.category {
  padding-left: 0;
  list-style: none;

  &__item {
    display: inline-block;

    & + & {margin-left: 5px;}
    &:first-letter {}

    > a {
      &:hover {
        border-bottom: 1px solid #ff80ab;
        text-decoration: none;
      }
    }
  }
}

.search {
  &__input {
    width: 100%;
    padding: 5px;
    padding-left: 0;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-size: 12px;

    &::-webkit-calendar-picker-indicator {display: none;}
  }
}

.copyright {
  margin-top: 50px;
  font-size: 12px;
  font-style: italic;
}

.main {
  display: table-cell;
  padding: 1em;

  &:focus {outline: 0;}
}

.page {}

.pagination {
  @include fsize(12px);
  margin-top: 50px;
  text-align: right;

  &__prev {
    &:before {content: "← ";}
  }
  &__next {
    margin-left: 16px;
    &:after {content: " →";}
  }
  &__count {float: left;}
}

.article {
  @include fsize(11px);
  position: relative;
  width: 400px;
  text-align: left;
  vertical-align: top;
  -webkit-backface-visibility: hidden;

  & + & {margin-top: 20px;}
  &__title {
    @include fsize(16px);
    margin: 0;
    color: #404040;
  }
  &__content {
    .article__title + & {margin-top: 10px;}
  }
  &__meta {
    margin-top: 10px;

    &__item {
      @include ellipsis;
      margin: 0;
    }
  }
  &__source {word-break: break-all;}
  &__link {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    opacity: 0;
    width: 0;
    height: 0;
    border-width: 0;
    border-style: solid;
    border-color: #e5e5e5 #e5e5e5 transparent transparent;
    border-radius: 0 0 0 3px;
    background-color: #444;
  }
}

.tags {
  &__item {
    &:hover {text-decoration: underline;}
    & + & {margin-left: 5px;}
  }
}

.link {
  &__box {
    display: block;
    padding: 1em;
    background-color: #f2f2f2;

    &:hover,
    &:focus {text-decoration: none;}
  }
  &__thumbnail {display: block;}
  &__meta {
    @include fsize(12px);
  }
  &__name {
    @include fsize(16px);
    background-color: transparent;
    transition: 0.5s background-color;

    &:hover {background-color: rgba(255,255,0, 0.5);}
    &:after {
      content: " >";
    }
  }
  &__host {
    display: block;
    color: lighten(#000, 30%);
  }
  &__excerpt {
    margin-top: 1em;
  }
}

.photo {
  &__figure {
    margin: 0;
    font-weight: bold;

    .photo--set & {cursor: pointer;}
  }
}
