.Search-input {
  width: 100%;
  padding: 5px;
  padding-left: 0;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
}

.Search-input::-webkit-calendar-picker-indicator {
  display: none;
}
