.Pagination {
  margin-top: 50px;
  text-align: right;
  font-size: 12px;
}

.Pagination-count {
  float: left;
}

.Pagination-link--next {
  margin-left: 16px;
}

.Pagination-link--prev:before {
  content: "← ";
}

.Pagination-link--next:after {
  content: " →";
}
