.Links-box {
  display: block;
  padding: 1em;
  background-color: #f2f2f2;
}

.Links-box:hover,
.Links-box:focus {
  text-decoration: none;
}

.Links-thumbnail {
  display: block;
}

.Links-meta {
  font-size: 12px;
}

.Links-name {
  font-size: 16px;
  background-color: transparent;
  transition: 0.5s background-color;
}

.Links-name:hover {
  background-color: rgba(255,255,0, 0.5);
}

.Links-name:after {
  content: " >";
}

.Links-host {
  display: block;
  color: rgba(0, 0, 0, 0.3);
}

.Links-excerpt {
  margin-top: 1em;
}
