.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
  font-size: 13px;
}

.timestamp {
  color: inherit;
}

.count {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  text-shadow: none;
}

.count_icon {
  width: 20px;
  margin-right: 4px;
}
